In [164]:
#from googlesearch import search
import csv
import time
import pandas as pd
import numpy as np

import regex
import difflib
import warnings

In [321]:
new = pd.read_csv('flags.csv', delimiter = ',')

In [322]:
new = new.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)

# replace NaN with empty strings
new = new.replace(np.nan, '', regex = True)

trial = new[new['flag'] > 1]

In [218]:
trial.to_csv('two_three_matches.csv', sep = ',')

In [8]:
linkedin_matched = pd.read_csv('one_match.csv',encoding = "ISO-8859-1", delimiter = ',', dtype = object)
test_urls = pd.read_csv('first_test_urls.csv', delimiter = ',', dtype = object)

In [9]:
print(len(linkedin_matched))
print(len(test_urls))

591
697

In [10]:
test_urls = test_urls.drop(['Unnamed: 0', 'Unnamed: 0.1','url1','url2','url3','state_y','state_x'], axis = 1)
test_urls = test_urls[test_urls['duplicates'] == 'FALSE']

In [12]:
print(len(test_urls))

linkedin_matched = linkedin_matched.dropna(subset = ['linkedinProfile'])
test_urls = test_urls.drop_duplicates(subset = ['test_url']) 

print(len(test_urls))

test_urls.to_csv('first_test_urls_NO_DUPLICATES.csv', sep = ',')

587
586
587

In [49]:
final['correct'] = True

for index, row in final.iterrows():
    
    try:
        first_init_dataset = str(final['inventor_name_first'][index][0])
        first_init_linkedin = str(final['firstName'][index][0])

        if first_init_dataset.lower() != first_init_linkedin.lower():
            final['correct'][index] = False
    except:
        print(index)

/Users/michelleyoun/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [99]:
# warnings.filterwarnings('ignore')

# flag false positives 
false_positives = final[final['correct'] == False]

final['correct'][69] = True
final['correct'][160] = True
final['correct'][285] = True
final['correct'][313] = True
final['correct'][318] = True

In [125]:
#final = final.drop(['Unnamed: 88', 'correct', 'FULL'], axis = 1)
cols = final.columns
final[cols] = final[cols].replace({',':''}, regex = True)

# 69, 160, 285, 313, 318

In [126]:
final.to_csv('FINAL_first_test_urls.csv', sep = ',')

In [151]:
#test = test.drop(['test_url'], axis = 1)
cols = test.columns
test[cols] = test[cols].replace({'\*':''}, regex = True)

In [154]:
test.to_csv('check.csv', sep = '\t')

In [254]:
test = test[['Original Index','appl_id','linkedinProfile']]

In [159]:
inventor_names = pd.read_csv('inventor_names.csv', delimiter = ',')
inventor_names['found'] = 'FALSE'

inventor_names

,Unnamed: 0,appl_id,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_region_code,inventor_country_code,inventor_country_name,inventor_address_type,_merge,duplicates,full_name,first_last_name,state,found
0,0,13199870,Durand,Kevin,Dickerson,1.0,KS,US,UNITED STATES,residence,matched (3),False,Durand Kevin Dickerson,Durand Dickerson,Kansas,FALSE
1,2,13199870,Lawrence,Derwood,Kenemore,2.0,KS,US,UNITED STATES,residence,matched (3),False,Lawrence Derwood Kenemore,Lawrence Kenemore,Kansas,FALSE
2,3,13261475,Stefanos,NaN,Ntoukolianos,1.0,NaN,GR,GREECE,postal,matched (3),False,Stefanos Ntoukolianos,Stefanos Ntoukolianos,NaN,FALSE
3,5,13261723,Mukul,Chandra,Gope,1.0,NaN,IN,INDIA,postal,matched (3),False,Mukul Chandra Gope,Mukul Gope,NaN,FALSE
4,7,13261789,Mitsutoshi,NaN,Sugawara,1.0,NaN,JP,JAPAN,postal,matched (3),False,Mitsutoshi Sugawara,Mitsutoshi Sugawara,NaN,FALSE
5,9,13261809,Georgios,NaN,Mavroeidis,1.0,NaN,GR,GREECE,residence,matched (3),False,Georgios Mavroeidis,Georgios Mavroeidis,NaN,FALSE
6,11,13261831,Lorena,NaN,Dordan,1.0,CA,US,UNITED STATES,residence,matched (3),False,Lorena Dordan,Lorena Dordan,California,FALSE
7,13,13261848,Joshua (Josh),Noel,Hogan,1.0,CA,US,UNITED STATES,residence,matched (3),False,Joshua (Josh) Noel Hogan,Joshua (Josh) Hogan,California,FALSE
8,15,13356632,Kai,NaN,Tao,1.0,NaN,CN,CHINA,residence,matched (3),False,Kai Tao,Kai Tao,NaN,FALSE
9,16,13391446,Eckhard,NaN,Lohde,2.0,NaN,DE,GERMANY,residence,matched (3),False,Eckhard Lohde,Eckhard Lohde,NaN,FALSE
10,17,13391446,Olaf,NaN,Christiansen,1.0,NaN,DE,GERMANY,postal,matched (3),False,Olaf Christiansen,Olaf Christiansen,NaN,FALSE
11,19,13426684,David,NaN,Hirshberg,1.0,NaN,IL,ISRAEL,residence,matched (3),False,David Hirshberg,David Hirshberg,NaN,FALSE
12,21,13438140,MARK,MACDONOUGH,ROBINSON,1.0,MA,US,UNITED STATES,residence,matched (3),False,MARK MACDONOUGH ROBINSON,MARK ROBINSON,Massachusetts,FALSE
13,23,13442888,Chaloke,NaN,Pungtrakul,1.0,NaN,TH,THAILAND,residence,matched (3),False,Chaloke Pungtrakul,Chaloke Pungtrakul,NaN,FALSE
14,25,13465206,STEVEN,B.,TRACY,1.0,ME,US,UNITED STATES,postal,matched (3),False,STEVEN B. TRACY,STEVEN TRACY,Maine,FALSE
15,27,13465375,Liu,NaN,Yang,1.0,CA,US,UNITED STATES,postal,matched (3),False,Liu Yang,Liu Yang,California,FALSE
16,29,13465375,Fang,NaN,Sheng,2.0,CA,US,UNITED STATES,residence,matched (3),False,Fang Sheng,Fang Sheng,California,FALSE
17,30,13467009,David,J.,Mishelevich,1.0,CA,US,UNITED STATES,postal,matched (3),False,David J. Mishelevich,David Mishelevich,California,FALSE
18,32,13474326,Norman,Scott,Peckenpaugh,1.0,WA,US,UNITED STATES,postal,matched (3),False,Norman Scott Peckenpaugh,Norman Peckenpaugh,Washington,FALSE
19,34,13475985,David,J.,Mishelevich,1.0,CA,US,UNITED STATES,residence,matched (3),True,David J. Mishelevich,David Mishelevich,California,FALSE
20,36,13481539,Laszlo,NaN,Redey,1.0,IL,US,UNITED STATES,postal,matched (3),False,Laszlo Redey,Laszlo Redey,Illinois,FALSE
21,38,13482342,Michael,Robert,White,1.0,CA,US,UNITED STATES,postal,matched (3),False,Michael Robert White,Michael White,California,FALSE
22,40,13484165,Sergey,NaN,Anikin,1.0,CA,US,NaN,postal,matched (3),False,Sergey Anikin,Sergey Anikin,California,FALSE
23,42,13486438,Benjamin,NaN,Pouladian,2.0,CA,US,UNITED STATES,residence,matched (3),False,Benjamin Pouladian,Benjamin Pouladian,California,FALSE
24,43,13486438,Saman,NaN,Sinai,1.0,CA,US,UNITED STATES,residence,matched (3),False,Saman Sinai,Saman Sinai,California,FALSE
25,45,13487252,Yong-Kyu,NaN,Jung,1.0,TX,US,UNITED STATES,residence,matched (3),False,Yong-Kyu Jung,Yong-Kyu Jung,Texas,FALSE
26,47,13490478,Gabriel,NaN,YAVOR,1.0,NaN,IL,ISRAEL,residence,matched (3),False,Gabriel YAVOR,Gabriel YAVOR,NaN,FALSE
27,49,13494995,Shih-Lin,NaN,Chang,3.0,NaN,TW,TAIWAN,residence,matched (3),False,Shih-Lin Chang,Shih-Lin Chang,NaN,FALSE
28,50,13494995,Bin-Juine,NaN,Huang,1.0,NaN,TW,TAIWAN,residence,matched (3),False,Bin-Juine Huang,Bin-Juine Huang,NaN,FALSE
29,52,13494995,Jong-Fu,NaN,Yeh,2.0,NaN,TW,TAIWAN,residence,matched (3),False,Jong-Fu Yeh,Jong-Fu Yeh,NaN,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925,3545,14523946,Xiwang,NaN,Qi,1.0,AZ,US,UNITED STATES,residence,matched (3),False,Xiwang Qi,Xiwang Qi,Arizona,FALSE
1926,3546,14523946,Mei,NaN,Jiang,2.0,AZ,US,UNITED STATES,residence,matched (3),False,Mei Jiang,Mei Jiang,Arizona,FALSE
1927,3549,14533137,Yu-Cheng,NaN,Huang,1.0,NaN,TW,TAIWAN,residence,matched (3),False,Yu-Cheng Huang,Yu-Cheng Huang,NaN,FALSE
1928,3551,14537987,Gioulchen,NaN,Tairova,1.0,ON,CA,CANADA,postal,matched (3),False,Gioulchen Tairova,Gioulchen Tairova,NaN,FALSE
1929,3552,14537987,Junian,NaN,Ioffe,2.0,NaN,CA,CANADA,residence,matched (3),False,Junian Ioffe,Junian Ioffe,NaN,FALSE
1930,3554,14550910,George,NaN,Pul,1.0,NV,US,NaN,postal,matched (3),False,George Pul,George Pul,Nevada,FALSE
1931,3556,14555666,Rejean,NaN,Plante,1.0,NaN,CA,CANADA,residence,matched (3),False,Rejean Plante,Rejean Plante,NaN,FALSE
1932,3558,14555666,Louise,NaN,CUSSON,2.0,NaN,CA,CANADA,residence,matched (3),False,Louise CUSSON,Louise CUSSON,NaN,FALSE
1933,3559,14559908,Craig,NaN,Brodersen,1.0,OR,US,NaN,postal,matched (3),False,Craig Brodersen,Craig Brodersen,Oregon,FALSE
1934,3561,14572956,Robert,NaN,Creighton,2.0,PA,US,UNITED STATES,residence,matched (3),False,Robert Creighton,Robert Creighton,Pennsylvania,FALSE
1935,3562,14572956,Arup,NaN,SenGupta,1.0,PA,US,UNITED STATES,residence,matched (3),False,Arup SenGupta,Arup SenGupta,Pennsylvania,FALSE
1936,3563,14572956,Ryan,NaN,Smith,3.0,PA,US,UNITED STATES,residence,matched (3),True,Ryan Smith,Ryan Smith,Pennsylvania,FALSE
1937,3565,14658217,Sergey,Petrovich,Tsyukalo,1.0,WA,US,NaN,postal,matched (3),False,Sergey Petrovich Tsyukalo,Sergey Tsyukalo,Washington,FALSE
1938,3567,13869501,David,John,Carr,NaN,CT,US,UNITED STATES,NaN,using only (2),False,David John Carr,David Carr,Connecticut,FALSE
1939,3568,13915214,Christos,NaN,Tsironis,NaN,CA,US,UNITED STATES,NaN,using only (2),True,Christos Tsironis,Christos Tsironis,California,FALSE
1940,3569,13998996,Charles,F.,Stewart,NaN,CA,US,UNITED STATES,NaN,using only (2),False,Charles F. Stewart,Charles Stewart,California,FALSE
1941,3570,14082148,Richard,Martin,Greene,NaN,CA,US,UNITED STATES,NaN,using only (2),False,Richard Martin Greene,Richard Greene,California,FALSE
1942,3571,14083988,Christopher,Ralph,Tridico,NaN,BC,US,UNITED STATES,NaN,using only (2),False,Christopher Ralph Tridico,Christopher Tridico,NaN,FALSE
1943,3572,14098711,Wei,NaN,Song,NaN,NaN,NaN,NaN,NaN,NaN,False,Wei Song,Wei Song,NaN,FALSE
1944,3573,14098711,Xiao Wei,NaN,Yu,NaN,NaN,NaN,NaN,NaN,NaN,False,Xiao Wei Yu,Xiao Wei Yu,NaN,FALSE
1945,3574,14098711,Weiping,NaN,Ren,NaN,NaN,NaN,NaN,NaN,using only (2),False,Weiping Ren,Weiping Ren,NaN,FALSE
1946,3575,14201795,David,NaN,Galomb,NaN,PA,US,UNITED STATES,NaN,using only (2),False,David Galomb,David Galomb,Pennsylvania,FALSE
1947,3576,14214687,William,S.,Baron,NaN,NaN,NaN,NaN,NaN,using only (2),False,William S. Baron,William Baron,NaN,FALSE
1948,3577,14214687,Sandra,F.,Baron,NaN,NaN,NaN,NaN,NaN,NaN,False,Sandra F. Baron,Sandra Baron,NaN,FALSE
1949,3578,14250378,Matthew,Carl,O'Malley,NaN,NaN,NaN,NaN,NaN,using only (2),False,Matthew Carl O'Malley,Matthew O'Malley,NaN,FALSE
1950,3579,14257778,Nabyl,NaN,Bennouri,NaN,NaN,NaN,NaN,NaN,NaN,False,Nabyl Bennouri,Nabyl Bennouri,NaN,FALSE
1951,3580,14257778,Jie,NaN,Lian,NaN,NaN,NaN,NaN,NaN,NaN,False,Jie Lian,Jie Lian,NaN,FALSE
1952,3581,14257778,Nattapon,NaN,Chaimanoart,NaN,NaN,NaN,NaN,NaN,using only (2),False,Nattapon Chaimanoart,Nattapon Chaimanoart,NaN,FALSE
1953,3582,14280605,Oliver,Markus,Haynold,NaN,NaN,NaN,NaN,NaN,using only (2),False,Oliver Markus Haynold,Oliver Haynold,NaN,FALSE
1954,3583,14451811,Randall,C.,Wilson,NaN,NaN,NaN,NaN,NaN,using only (2),False,Randall C. Wilson,Randall Wilson,NaN,FALSE

In [162]:
len(test)

588

In [189]:
test.to_csv('check_two.csv', sep = ',')

In [315]:
# inventor_names = pd.read_csv('inventor_names.csv', sep = ',')
# test = pd.read_csv('first_test_urls.csv', sep = ',')

In [316]:
# test = test[['Original Index','test_url']]
# inventor_names = inventor_names.merge(test, how = 'outer', left_on = 'Unnamed: 0', right_on = 'Original Index')
# # inventor_names = inventor_names.drop(['Original Index', 'Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'], axis = 1)

In [249]:
# inventor_names.to_csv('inventor_names_copy.csv', sep = ',')

In [253]:
matched_urls = final

In [256]:
matched_urls['correct'] = True

for index, row in matched_urls.iterrows():
    
    try:
        first_init_dataset = str(matched_urls['inventor_name_first'][index][0])
        first_init_linkedin = str(matched_urls['firstName'][index][0])

        if first_init_dataset.lower() != first_init_linkedin.lower():
            matched_urls['correct'][index] = False
    except:
        print(index)

In [282]:
# warnings.filterwarnings('ignore')

# flag false positives 
false_positives = matched_urls[matched_urls['correct'] == False]

matched_urls['correct'][69] = True
matched_urls['correct'][160] = True
matched_urls['correct'][285] = True
matched_urls['correct'][313] = True
matched_urls['correct'][318] = True

In [284]:
sub_matched_urls = matched_urls[['Original Index','linkedinProfile']]

In [291]:
inventor_names = pd.read_csv('inventor_names.csv', sep = ',')
sub_matched_urls = sub_matched_urls[['Original Index','linkedinProfile']]
sub_matched_urls['Original Index']=sub_matched_urls['Original Index'].astype(int)
sub_inventor_names = inventor_names.merge(sub_matched_urls, how = 'outer', left_on = 'Unnamed: 0', right_on = 'Original Index')

In [303]:
# replace NaN with empty strings
sub_inventor_names = sub_inventor_names.replace(np.nan, '', regex = True)

len(sub_inventor_names[sub_inventor_names['linkedinProfile'] != ''])

588

In [320]:
sub_inventor_names.to_csv('final.csv', sep = ',')

# re_search is unmatched inventor names

In [327]:
re_search = sub_inventor_names[sub_inventor_names['linkedinProfile'] != '']
print(len(re_search))

588

In [329]:
final_copy = pd.read_csv('final copy.csv', sep = ',')

# replace NaN with empty strings
final_copy = final_copy.replace(np.nan, '', regex = True)

re_search = final_copy[final_copy['linkedinProfile'] == '']

In [337]:
# search 'full_name' + 'linkedin' + 'patent'

from googlesearch import search 

re_search['url1'] = ''
re_search['url2'] = ''
re_search['url3'] = ''

def finder(query):
    c = search(query, lang = 'en', num = 3, stop = 3)
    return c

counter = 0
for index, row in re_search.iterrows():
    name = re_search['first_last_name'][index] + ' '
    query = str(name + 'linkedin' + 'patent')
    
    # generator object that finds the top 3 searches
    s = finder(query) 
    
    count = 1
    for i in s:
        # take only top 3 searches
        if count == 4:
            break
            
        re_search['url' + str(count)][index] = i
        count += 1
    
    counter += 1
    
    if counter % 10 == 0:
        print(counter)

# put pause between each search so Google won't block IP

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000
1010
1020
1030
1040
1050
1060
1070
1080
1090
1100
1110
1120
1130
1140
1150
1160
1170
1180
1190
1200
1210
1220
1230
1240
1250
1260
1270
1280
1290
1300
1310
1320
1330

In [338]:
count = 0
for index, row in re_search.iterrows():
    # make all urls lowercase
    url1 = str(re_search['url1'][index]).lower()
    url2 = str(re_search['url2'][index]).lower()
    url3 = str(re_search['url3'][index]).lower()
    
    # make last name lower case
    last_name = str(re_search['inventor_name_last'][index]).lower()

    # check first URL, empty if url is not personal profile or last name not in url
    if 'linkedin.com/in/' in url1 and last_name in url1:
        pass
    else:
        re_search['url1'][index] = ""
        
        
    # check second URL, empty if url is not personal profile or last name not in url2
    if 'linkedin.com/in/' in url2 and last_name in url2:
        pass
    else:
        re_search['url2'][index] = ""
        
        
    # check third URL, empty if url is not personal profile or last name not in url3
    if 'linkedin.com/in/' in url3 and last_name in url3:
        pass
    else:
        re_search['url3'][index] = ""
    
    count += 1
    if count % 10 == 0:
        print(count)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000
1010
1020
1030
1040
1050
1060
1070
1080
1090
1100
1110
1120
1130
1140
1150
1160
1170
1180
1190
1200
1210
1220
1230
1240
1250
1260
1270
1280
1290
1300
1310
1320
1330

In [344]:
re_search['test_url'] = re_search['url1']+re_search['url2']+re_search['url3']

re_search = re_search.drop(['Unnamed: 0', 'Unnamed: 0.1','Unnamed: 0.2',
       'linkedinProfile', 'Unnamed: 18', 'Unnamed: 19', 'url1', 'url2', 'url3'], axis = 1)

re_search.to_csv('patent_search.csv', sep = ',')

In [345]:
re_search.columns

Index(['appl_id', 'inventor_name_first', 'inventor_name_middle',
       'inventor_name_last', 'inventor_rank', 'inventor_region_code',
       'inventor_country_code', 'inventor_country_name',
       'inventor_address_type', '_merge', 'duplicates', 'full_name',
       'first_last_name', 'state', 'test_url'],
      dtype='object')

In [ ]:
# SEARCH 'INVENTOR' (people seem to like that title)

# if not from united states, search with country