In [4]:
import csv
import time
import pandas as pd
import numpy as np

import regex
import difflib
import warnings

In [334]:
# load inventor_names dataset
data = pd.read_csv('original_inventor_names.csv', sep = ',', dtype = object)

In [335]:
# data.columns

In [336]:
# replace NaN with empty strings
data = data.replace(np.nan, '', regex = True)


# strip empty spaces in each column for comparisons
data['appl_id'] = data['appl_id'].str.strip()
data['inventor_name_first'] = data['inventor_name_first'].str.strip()
data['inventor_name_middle'] = data['inventor_name_middle'].str.strip()
data['inventor_name_last'] = data['inventor_name_last'].str.strip()
data['inventor_region_code'] = data['inventor_region_code'].str.strip()


# dropping duplicate names for each appl_id, keeping first
# 1955
data = data.drop_duplicates(subset = ['appl_id', 'inventor_name_first', 'inventor_name_middle', 'inventor_name_last'], keep = 'first') 


# dropping duplicate names across whole dataset (might be dropping those with the same exact full name)
# 1735
# data = data.drop_duplicates(subset = ['inventor_name_first', 'inventor_name_middle', 'inventor_name_last'], keep = 'first')

In [337]:
# keep = False: mark all duplicates as True
# keep = 'first': drop all duplicates except for the first
data['duplicates'] = data.duplicated(subset = ['inventor_name_first', 'inventor_name_middle', 'inventor_name_last'], keep = 'first')


# dups: dataframe containing ALL duplicates
dups = data.loc[data['duplicates'] == True]

In [338]:
# initialize column 'full_name': first + middle + last
# initialize column 'first_last_name': first + last
data['full_name'] = data['inventor_name_first'] + ' ' + data['inventor_name_middle'] + ' ' + data['inventor_name_last'] 
data['first_last_name'] = data['inventor_name_first'] + ' ' + data['inventor_name_last']

In [339]:
# 'state': get name of state
data['state'] = data['inventor_region_code'].map(states)


# initialize dictionary of states: keys- state code, values- state name
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [340]:
data.to_csv('inventor_names.csv', sep = ',')

# Google Search for Linkedin URLs

In [341]:
warnings.filterwarnings('ignore')

# test parts of 'data', and after tests, initialize 'test' to full dataset 'data'
test = data

# # truncate dataframe for faster iteration, use full dataset later
# test = test[['appl_id','first_last_name', 'state']]

# initialize three empty URL columns
test['url1'] = ""
test['url2'] = ""
test['url3'] = ""


# replace NaN with empty strings
test = test.replace(np.nan, '', regex = True)

# print(test)

In [260]:
# search with full name + region

def finder(query):
    c = search(query, lang = 'en', num = 3, stop = 3)
    return c

counter = 0
for index, row in test.iterrows():
    name = test['first_last_name'][index] + ' '
#    print(test['state'][index])
    state = str(test['state'][index] + ' ')
    query = str(name + state + 'linkedin')
    
    
    # generator object that finds the top 3 searches
    s = finder(query) 
    count = 1
    for i in s:
        # take only top 3 searches
        if count == 4:
            break
            
        test['url' + str(count)][index] = i
        count += 1

    # print(test[index])
    # print("\n")
    
    counter += 1
    
#     if counter % 5 == 0:
#         print(counter)

# put pause between each search so Google won't block IP

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250
255
260
265
270
275
280
285
290
295
300
305
310
315
320
325
330
335
340
345
350
355
360
365
370
375
380
385
390
395
400
405
410
415
420
425
430
435
440
445
450
455
460
465
470
475
480
485
490
495
500
505
510
515
520
525
530
535
540
545
550
555
560
565
570
575
580
585
590
595
600
605
610
615
620
625
630
635
640
645
650
655
660
665
670
675
680
685
690
695
700
705
710
715
720
725
730
735
740
745
750
755
760
765
770
775
780
785
790
795
800
805
810
815
820
825
830
835
840
845
850
855
860
865
870
875
880
885
890
895
900
905
910
915
920
925
930
935
940
945
950
955
960
965
970

In [ ]:
# “full name” + “state name” + “patent”
# “full name” + “company”
# “full name” + “city name” (if US)
# “full name” + “country” (if not US)

In [262]:
# INTERMEDIATE STEP: save all linkedin searches in CSV called 'inventors_all_urls'

test.to_csv('inventors_all_urls.csv', sep = ',')

In [344]:
# create 'WORKING_url_list.csv' keeping only individual profiles and urls containing last names

inventors_urls = pd.read_csv('inventors_all_urls.csv', sep = ',', dtype = object)
inventor_names = pd.read_csv('inventor_names.csv', sep = ',', dtype = object)

inventors_urls = inventors_urls.merge(inventor_names, how = 'left', on = ['first_last_name', 'appl_id'])

test = inventors

count = 0
for index, row in test.iterrows():
    # make all urls lowercase
    url1 = str(test['url1'][index]).lower()
    url2 = str(test['url2'][index]).lower()
    url3 = str(test['url3'][index]).lower()
    
    # make last name lower case
    last_name = str(test['inventor_name_last'][index]).lower()

    # check first URL, empty if url is not personal profile or last name not in url
    if 'linkedin.com/in/' in url1 and last_name in url1:
        pass
    else:
        test['url1'][index] = ""
        
        
    # check second URL, empty if url is not personal profile or last name not in url2
    if 'linkedin.com/in/' in url2 and last_name in url2:
        pass
    else:
        test['url2'][index] = ""
        
        
    # check third URL, empty if url is not personal profile or last name not in url3
    if 'linkedin.com/in/' in url3 and last_name in url3:
        pass
    else:
        test['url3'][index] = ""
    
    
#     count += 1
#     if count % 10 == 0:
#         print(count)

# personal profile, accounting for different TLDs
# https://www.linkedin.com/in/
# USE: linkedin.com/in/


# make sure url contains last name
# first name might be a nickname


# FUZZY MATCHING (for first names)


# TRY: ASSIGNEE

test.to_csv('WORKING_url_list.csv', sep = ',')

In [351]:
# initialize 'flag' column (0-3 matches)

test = pd.read_csv('WORKING_url_list.csv', sep = ',')

test = test.replace(np.nan, '', regex = True)

test['flag'] = ""

for index, row in test.iterrows():
#     first_url = False
#     second_url = False
#     third_url = False
    
    count = 0
    
    if test['url1'][index]:
        #first_url = True
        count += 1
    if test['url2'][index]:
        #second_url = True
        count += 1
    if test['url3'][index]:
        #third_url = True
        count += 1
    
    test['flag'][index] = count
    
test.to_csv('flags.csv', sep = ',')

# FIRST LIST OF PHANTOMBUSTER URLS

In [359]:
FIRST_TEST = test[test['flag'] == 1]

FIRST_TEST['test_url'] = FIRST_TEST['url1'] + FIRST_TEST['url2'] + FIRST_TEST['url3']

# eliminate 
FIRST_TEST = FIRST_TEST[FIRST_TEST['duplicates'] == False]

FIRST_TEST.to_csv('first_test_urls.csv', sep = ',')

# checking how many url matches

In [5]:
flags = pd.read_csv('flags.csv', sep = ',')

In [6]:
flags = flags[flags['duplicates'] == False]
# len(flags) #1739

In [7]:
check0 = flags[flags['flag'] == 0]
check1 = flags[flags['flag'] == 1]
check2 = flags[flags['flag'] == 2]
check3 = flags[flags['flag'] == 3]

In [8]:
print('0 matches: ' + str(len(check0)))
print('1 match: ' + str(len(check1)))
print('2 matches: ' + str(len(check2)))
print('3 matches: ' + str(len(check3)))

0 matches: 410
1 match: 598
2 matches: 601
3 matches: 130

In [12]:
no_matches = flags[flags['flag'] == 0]

In [14]:
# NO MATCHES: broader search 

# search 'full_name'

from googlesearch import search 

def finder(query):
    c = search(query, lang = 'en', num = 3, stop = 3)
    return c

counter = 0
for index, row in no_matches.iterrows():
    name = no_matches['first_last_name'][index] + ' '
    query = str(name + 'linkedin')
    
    # generator object that finds the top 3 searches
    s = finder(query) 
    
    count = 1
    for i in s:
        # take only top 3 searches
        if count == 4:
            break
            
        no_matches['url' + str(count)][index] = i
        count += 1
    
    counter += 1
    
    if counter % 10 == 0:
        print(counter)

# put pause between each search so Google won't block IP

/Users/michelleyoun/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/michelleyoun/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2881: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410

In [15]:
no_matches.to_csv('no_matches_intermdiate.csv', sep = ',')

In [16]:
warnings.filterwarnings('ignore')

for index, row in no_matches.iterrows():
    # make all urls lowercase
    url1 = str(no_matches['url1'][index]).lower()
    url2 = str(no_matches['url2'][index]).lower()
    url3 = str(no_matches['url3'][index]).lower()
    
    # make last name lower case
    last_name = str(no_matches['inventor_name_last'][index]).lower()

    # check first URL, empty if url is not personal profile or last name not in url
    if 'linkedin.com/in/' in url1:# and last_name in url1:
        pass
    else:
        no_matches['url1'][index] = ""
        
        
    # check second URL, empty if url is not personal profile or last name not in url2
    if 'linkedin.com/in/' in url2:# and last_name in url2:
        pass
    else:
        no_matches['url2'][index] = ""
        
        
    # check third URL, empty if url is not personal profile or last name not in url3
    if 'linkedin.com/in/' in url3:# and last_name in url3:
        pass
    else:
        no_matches['url3'][index] = ""

In [19]:
# len(no_matches) #451

# eliminate duplicates
no_matches = no_matches[no_matches['duplicates'] == False]
len(no_matches) #410

410

In [21]:
warnings.filterwarnings('ignore')

for index, row in no_matches.iterrows():
#     first_url = False
#     second_url = False
#     third_url = False
    
    count = 0
    
    if no_matches['url1'][index]:
        #first_url = True
        count += 1
    if no_matches['url2'][index]:
        #second_url = True
        count += 1
    if no_matches['url3'][index]:
        #third_url = True
        count += 1
    
    no_matches['flag'][index] = count

In [22]:
no_matches.to_csv('no_matches.csv', sep = ',')

In [23]:
check0 = no_matches[no_matches['flag'] == 0]
check1 = no_matches[no_matches['flag'] == 1]
check2 = no_matches[no_matches['flag'] == 2]
check3 = no_matches[no_matches['flag'] == 3]

print('0 matches: ' + str(len(check0)))
print('1 match: ' + str(len(check1)))
print('2 matches: ' + str(len(check2)))
print('3 matches: ' + str(len(check3)))

0 matches: 104
1 match: 149
2 matches: 127
3 matches: 30

In [28]:
check1.to_csv('check1.csv', sep = ',')
check2.to_csv('check2.csv', sep = ',')

In [55]:
check1['test_url'] = check1['url1']+check1['url2']+check1['url3']

In [61]:
check1 = check1.drop(['Unnamed: 0', 'Unnamed: 0.1','url1', 'url2','url3'], axis = 1)

In [86]:
new_check1 = check1
new_check1['inventor_name_last'] = new_check1['inventor_name_last'].str.strip()
new_check1['CHECK'] = False

for index, row in check1.iterrows():
    url = str(check1['test_url'][index]).lower()
    last_name = str(check1['inventor_name_last'][index]).lower()
    first_name = str(check1['inventor_name_first'][index]).lower()
    if last_name in url:
        new_check1['CHECK'][index] = True
#     elif first_name in url:
#         new_check1['CHECK'][index] = 'Maybe'

In [87]:
new_check1

,Original Index,appl_id,first_last_name,state_x,Unnamed: 0.1.1,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_region_code,inventor_country_code,inventor_country_name,inventor_address_type,_merge,duplicates,full_name,state_y,flag,test_url,CHECK
1,2,13199870,Lawrence Kenemore,Kansas,2,Lawrence,Derwood,Kenemore,2.0,KS,US,UNITED STATES,residence,matched (3),False,Lawrence Derwood Kenemore,Kansas,1,https://www.linkedin.com/in/larry-kenemore-jr-...,True
29,52,13494995,Jong-Fu Yeh,NaN,52,Jong-Fu,NaN,Yeh,2.0,NaN,TW,TAIWAN,residence,matched (3),False,Jong-Fu Yeh,NaN,1,https://hk.linkedin.com/in/fu-yee-3b5367166,False
46,85,13572636,Randall Muse,Washington,85,Randall,Frank,Muse,1.0,WA,US,NaN,residence,matched (3),False,Randall Frank Muse,Washington,1,https://www.linkedin.com/in/randall-muse-52828622,True
51,95,13573543,Richard Garcia,California,95,Richard,Jeff,Garcia,1.0,CA,US,UNITED STATES,postal,matched (3),False,Richard Jeff Garcia,California,1,https://www.linkedin.com/in/richgarcia002,True
80,146,13645468,Kevin Thomazios,California,146,Kevin,Leslie,Thomazios,1.0,CA,US,NaN,residence,matched (3),False,Kevin Leslie Thomazios,California,1,https://www.linkedin.com/in/kevinthomazios,True
81,148,13646845,John Coultate,NaN,148,John,Karl,Coultate,1.0,NaN,GB,NaN,postal,matched (3),False,John Karl Coultate,NaN,1,https://www.linkedin.com/in/john-coultas-1296bbb9,False
87,159,13651421,Yang LIU,NaN,159,Yang,NaN,LIU,6.0,NaN,CN,NaN,residence,matched (3),False,Yang LIU,NaN,1,https://www.linkedin.com/in/lymit,False
89,163,13651421,Dingguo WANG,NaN,163,Dingguo,NaN,WANG,5.0,NaN,CN,NaN,residence,matched (3),False,Dingguo WANG,NaN,1,https://www.linkedin.com/in/dingguo-hua,False
99,179,13653199,MADHUSHREE PATNAIK,California,179,MADHUSHREE,NaN,PATNAIK,2.0,CA,US,NaN,postal,matched (3),False,MADHUSHREE PATNAIK,California,1,https://www.linkedin.com/in/madhushree-patnaik...,True
110,198,13666439,Sander van Wijngaarden,NaN,198,Sander,Jeroen,van Wijngaarden,1.0,NaN,NL,NETHERLANDS,postal,matched (3),False,Sander Jeroen van Wijngaarden,NaN,1,https://nl.linkedin.com/in/sander-van-wijngaar...,False
135,244,13707104,Christopher Posadas,Florida,244,Christopher,Bradly,Posadas,2.0,FL,US,NaN,residence,matched (3),False,Christopher Bradly Posadas,Florida,1,https://www.linkedin.com/in/christopher-posada...,True
138,248,13708969,Eric Perozziello,California,248,Eric,Anthony,Perozziello,2.0,CA,US,UNITED STATES,residence,matched (3),False,Eric Anthony Perozziello,California,1,https://www.linkedin.com/in/eric-moody-472b8ba9,False
145,259,13711523,ULADZIMIR PUTSEYEU,NaN,259,ULADZIMIR,NaN,PUTSEYEU,3.0,NaN,BY,NaN,residence,matched (3),False,ULADZIMIR PUTSEYEU,NaN,1,https://www.linkedin.com/in/vladimir-detushev-...,False
153,276,13714625,Samuel Bellamy,Pennsylvania,276,Samuel,W.,Bellamy,1.0,PA,US,UNITED STATES,residence,matched (3),False,Samuel W. Bellamy,Pennsylvania,1,https://www.linkedin.com/in/sambellamy,True
159,288,13723258,Dietrich Grabis,California,288,Dietrich,Walter,Grabis,1.0,CA,US,NaN,residence,matched (3),False,Dietrich Walter Grabis,California,1,https://www.linkedin.com/in/dieter-grabis-2a43...,True
166,299,13727379,Alexander Luchinskiy,NaN,299,Alexander,NaN,Luchinskiy,1.0,NaN,DE,GERMANY,postal,matched (3),False,Alexander Luchinskiy,NaN,1,https://uk.linkedin.com/in/alexander-luchinsky...,False
191,348,13742373,Cheng-Hao HUNG,NaN,348,Cheng-Hao,NaN,HUNG,1.0,NaN,TW,NaN,postal,matched (3),False,Cheng-Hao HUNG,NaN,1,https://www.linkedin.com/in/cheng-hao-huang-a3...,False
193,352,13743330,Sherry Schumm,Arizona,352,Sherry,NaN,Schumm,1.0,AZ,US,NaN,postal,matched (3),False,Sherry Schumm,Arizona,1,https://www.linkedin.com/in/sherry-vilmont-56b...,False
194,354,13746060,Raanan Liebermann,Connecticut,354,Raanan,NaN,Liebermann,1.0,CT,US,UNITED STATES,postal,matched (3),False,Raanan Liebermann,Connecticut,1,https://www.linkedin.com/in/boris-nalibotski-5...,False
208,380,13753114,GREGORY OSTERMEIER,North Dakota,380,GREGORY,M.,OSTERMEIER,4.0,ND,US,NaN,postal,matched (3),False,GREGORY M. OSTERMEIER,North Dakota,1,https://fr.linkedin.com/in/gregory-ostermeier-...,True
209,381,13753114,KRISTOPHER ZARNS,Minnesota,381,KRISTOPHER,A.,ZARNS,3.0,MN,US,NaN,postal,matched (3),False,KRISTOPHER A. ZARNS,Minnesota,1,https://www.linkedin.com/in/kris-zarns-303a4866,True
210,385,13754626,Coygon Robinson,California,385,Coygon,NaN,Robinson,1.0,CA,US,NaN,residence,matched (3),False,Coygon Robinson,California,1,https://www.linkedin.com/in/coygonrobinsoniii,True
211,387,13754767,Roger Shaffer,California,387,Roger,NaN,Shaffer,3.0,CA,US,NaN,residence,matched (3),False,Roger Shaffer,California,1,https://www.linkedin.com/in/rogershaffer1,True
212,388,13754767,Stephanie Bench,California,388,Stephanie,NaN,Bench,4.0,CA,US,NaN,residence,matched (3),False,Stephanie Bench,California,1,https://www.linkedin.com/in/sprezioso/,False
213,389,13754767,Mark Olsson,California,389,Mark,S.,Olsson,1.0,CA,US,NaN,residence,matched (3),False,Mark S. Olsson,California,1,https://www.linkedin.com/in/mark-olsson-1649097,True
230,418,13759391,Shawn Mao,Maryland,418,Shawn,NaN,Mao,1.0,MD,US,NaN,postal,matched (3),False,Shawn Mao,Maryland,1,https://www.linkedin.com/in/shawn-mao-b351a529,True
237,432,13763705,DAGANE DAAR,Virginia,432,DAGANE,NaN,DAAR,1.0,VA,US,UNITED STATES,residence,matched (3),False,DAGANE DAAR,Virginia,1,https://www.linkedin.com/in/dagane-daar-91862a51,True
243,444,13766815,Bj?rn Johansen,NaN,444,Bj?rn,Inge,Johansen,1.0,NaN,NO,NORWAY,residence,matched (3),False,Bj?rn Inge Johansen,NaN,1,https://no.linkedin.com/in/arne-bj-rn-johansen...,True
255,467,13769909,Maoz Loants,NaN,467,Maoz,NaN,Loants,2.0,NaN,IL,NaN,residence,matched (3),False,Maoz Loants,NaN,1,https://il.linkedin.com/in/maoz-green-1a7b01b8,False
262,481,13775184,Mike Sarieddine,California,481,Mike,NaN,Sarieddine,1.0,CA,US,UNITED STATES,residence,matched (3),False,Mike Sarieddine,California,1,https://www.linkedin.com/in/answermania,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,2753,14164186,Jayakumar Chellaganapathysubramanian,New Jersey,2753,Jayakumar,NaN,Chellaganapathysubramanian,1.0,NJ,US,NaN,postal,matched (3),False,Jayakumar Chellaganapathysubramanian,New Jersey,1,https://in.linkedin.com/in/k-chella-subramania...,False
1516,2759,14164754,Shawn Zents,California,2759,Shawn,Alan,Zents,1.0,CA,US,NaN,residence,matched (3),False,Shawn Alan Zents,California,1,https://www.linkedin.com/in/sean-zent-84a9347,False
1517,2761,14165568,Richard Haddock,California,2761,Richard,M.,Haddock,1.0,CA,US,UNITED STATES,residence,matched (3),False,Richard M. Haddock,California,1,https://www.linkedin.com/in/richono,False
1554,2831,14178958,Leonard Reichlin,Washington,2831,Leonard,NaN,Reichlin,1.0,WA,US,NaN,postal,matched (3),False,Leonard Reichlin,Washington,1,https://www.linkedin.com/in/lenreichlin,True
1561,2843,14181700,David DeIulio,Louisiana,2843,David,NaN,DeIulio,1.0,LA,US,NaN,residence,matched (3),False,David DeIulio,Louisiana,1,https://www.linkedin.com/in/gregory-deiulio-90...,True
1575,2868,14187238,Ralph Kirtland,Virginia,2868,Ralph,Preston,Kirtland,1.0,VA,US,NaN,postal,matched (3),False,Ralph Preston Kirtland,Virginia,1,https://www.linkedin.com/in/ralph-kirtland-b10...,True
1612,2938,14201796,David Galomb,Pennsylvania,2938,David,E.,Galomb,1.0,PA,US,UNITED STATES,residence,matched (3),False,David E. Galomb,Pennsylvania,1,https://www.linkedin.com/in/david-golomb-9189488,False
1698,3102,14218335,Slawek Frackowiak,Virginia,3102,Slawek,NaN,Frackowiak,1.0,VA,US,NaN,residence,matched (3),False,Slawek Frackowiak,Virginia,1,https://pl.linkedin.com/in/s%C5%82awomir-fr%C4...,False
1703,3111,14219610,Francois Crop,NaN,3111,Francois,NaN,Crop,2.0,NaN,BE,BELGIUM,residence,matched (3),False,Francois Crop,NaN,1,https://www.linkedin.com/in/francoisajenstat,False
1720,3145,14242179,Lester Quimpo,New York,3145,Lester,Acosta,Quimpo,1.0,NY,US,NaN,residence,matched (3),False,Lester Acosta Quimpo,New York,1,https://uk.linkedin.com/in/lester-kemp-9905847,False
1727,3157,14247342,Sergei Dalakian,Washington,3157,Sergei,NaN,Dalakian,1.0,WA,US,UNITED STATES,residence,matched (3),False,Sergei Dalakian,Washington,1,https://ca.linkedin.com/in/patricia-dalakian-9...,True
1733,3169,14258005,Di-Shun Liao,NaN,3169,Di-Shun,NaN,Liao,2.0,NaN,TW,TAIWAN,postal,matched (3),False,Di-Shun Liao,NaN,1,https://ca.linkedin.com/in/shun-liao-51b081106,True
1768,3238,14272502,Russell Bzoza,California,3238,Russell,John,Bzoza,1.0,CA,US,NaN,postal,matched (3),False,Russell John Bzoza,California,1,https://www.linkedin.com/in/russell-bzoza-6aa4...,True
1772,3244,14272696,Jeremy Powell,North Carolina,3244,Jeremy,Scott,Powell,2.0,NC,US,NaN,residence,matched (3),False,Jeremy Scott Powell,North Carolina,1,https://www.linkedin.com/in/jp5486,False
1773,3247,14273407,LUCAS MCLELAN,California,3247,LUCAS,NaN,MCLELAN,1.0,CA,US,NaN,postal,matched (3),False,LUCAS MCLELAN,California,1,https://www.linkedin.com/in/lucas-mclelan-2785...,True
1804,3306,14299448,Matthew Samoville,California,3306,Matthew,Louis,Samoville,1.0,CA,US,NaN,residence,matched (3),False,Matthew Louis Samoville,California,1,https://www.linkedin.com/in/kabir-mckitrick-9b...,False
1811,3320,14306216,Chris Beckman,New York,3320,Chris,NaN,Beckman,1.0,NY,US,NaN,postal,matched (3),False,Chris Beckman,New York,1,https://www.linkedin.com/in/chrisbeckmansalesrep,True
1833,3359,14318511,Donald Manuel,Alabama,3359,Donald,NaN,Manuel,1.0,AL,US,NaN,postal,matched (3),False,Donald Manuel,Alabama,1,https://www.linkedin.com/in/donald-manuel-5456...,True
1835,3363,14318690,Sounil Yu,Virginia,3363,Sounil,NaN,Yu,2.0,VA,US,NaN,residence,matched (3),False,Sounil Yu,Virginia,1,https://www.linkedin.com/in/sounil,False
1839,3370,14318720,Rajeev Nongpiur,NaN,3370,Rajeev,Conrad,Nongpiur,1.0,BC,CA,NaN,postal,matched (3),False,Rajeev Conrad Nongpiur,NaN,1,https://www.linkedin.com/in/rbehera,False
1841,3374,14318985,Serguei Nakhimov,NaN,3374,Serguei,NaN,Nakhimov,1.0,ON,CA,CANADA,postal,matched (3),False,Serguei Nakhimov,NaN,1,https://ca.linkedin.com/in/sergei-nakhimov-583...,True
1844,3380,14319662,Timothy Pryor,NaN,3380,Timothy,NaN,Pryor,1.0,ON,CA,NaN,postal,matched (3),False,Timothy Pryor,NaN,1,https://www.linkedin.com/in/cybersectim,False
1882,3456,14386334,Burkhard Bustgens,NaN,3456,Burkhard,NaN,Bustgens,1.0,NaN,DE,GERMANY,postal,matched (3),False,Burkhard Bustgens,NaN,1,https://uk.linkedin.com/in/burkhard-loeffelhol...,False
1884,3459,14446727,Nallathamby Kangatharalingam,Oklahoma,3459,Nallathamby,NaN,Kangatharalingam,1.0,OK,US,UNITED STATES,postal,matched (3),False,Nallathamby Kangatharalingam,Oklahoma,1,https://ch.linkedin.com/in/nithu-kanagaratnam-...,False
1892,3475,14457033,Caryn Pinto,Virginia,3475,Caryn,Susan,Pinto,1.0,VA,US,UNITED STATES,postal,matched (3),False,Caryn Susan Pinto,Virginia,1,https://www.linkedin.com/in/caryn-pinto-78505823,True
1897,3485,14461395,ARJUNA RAJASINGHAM,Maryland,3485,ARJUNA,INDRAESWARAN,RAJASINGHAM,1.0,MD,US,UNITED STATES,postal,matched (3),False,ARJUNA INDRAESWARAN RAJASINGHAM,Maryland,1,https://nz.linkedin.com/in/arjuna-rajasingham-...,True
1927,3541,14515804,Lucas McLelan,California,3541,Lucas,NaN,McLelan,1.0,CA,US,NaN,postal,matched (3),False,Lucas McLelan,California,1,https://www.linkedin.com/in/lucas-mclelan-2785...,True
1932,3551,14537987,Gioulchen Tairova,NaN,3551,Gioulchen,NaN,Tairova,1.0,ON,CA,CANADA,postal,matched (3),False,Gioulchen Tairova,NaN,1,https://www.linkedin.com/in/gulchinhuseynli,False
1934,3554,14550910,George Pul,Nevada,3554,George,NaN,Pul,1.0,NV,US,NaN,postal,matched (3),False,George Pul,Nevada,1,https://www.linkedin.com/in/george-paul,False
1950,3575,14201795,David Galomb,Pennsylvania,3575,David,NaN,Galomb,NaN,PA,US,UNITED STATES,NaN,using only (2),False,David Galomb,Pennsylvania,1,https://www.linkedin.com/in/david-golomb-9189488,False

In [88]:
check1.to_csv('check1.csv', sep = ',')

In [89]:
no_matches_links = pd.read_csv('final copy.csv', delimiter = ',')

,Unnamed: 0,Unnamed: 0.1,appl_id,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_region_code,inventor_country_code,inventor_country_name,inventor_address_type,_merge,duplicates,full_name,first_last_name,state,Original Index,linkedinProfile,Unnamed: 18,Unnamed: 19
0,0,0,13199870,Durand,Kevin,Dickerson,1.0,KS,US,UNITED STATES,residence,matched (3),False,Durand Kevin Dickerson,Durand Dickerson,Kansas,0.0,https://www.linkedin.com/in/durand-dickerson-b...,NaN,NaN
1,1,2,13199870,Lawrence,Derwood,Kenemore,2.0,KS,US,UNITED STATES,residence,matched (3),False,Lawrence Derwood Kenemore,Lawrence Kenemore,Kansas,NaN,https://www.linkedin.com/in/larry-kenemore-jr-...,NaN,NaN
2,2,3,13261475,Stefanos,NaN,Ntoukolianos,1.0,NaN,GR,GREECE,postal,matched (3),False,Stefanos Ntoukolianos,Stefanos Ntoukolianos,NaN,NaN,NaN,NaN,NaN
3,3,5,13261723,Mukul,Chandra,Gope,1.0,NaN,IN,INDIA,postal,matched (3),False,Mukul Chandra Gope,Mukul Gope,NaN,NaN,NaN,NaN,NaN
4,4,7,13261789,Mitsutoshi,NaN,Sugawara,1.0,NaN,JP,JAPAN,postal,matched (3),False,Mitsutoshi Sugawara,Mitsutoshi Sugawara,NaN,7.0,https://www.linkedin.com/in/mitsutoshi-sugawar...,NaN,NaN
5,5,9,13261809,Georgios,NaN,Mavroeidis,1.0,NaN,GR,GREECE,residence,matched (3),False,Georgios Mavroeidis,Georgios Mavroeidis,NaN,NaN,NaN,NaN,NaN
6,6,11,13261831,Lorena,NaN,Dordan,1.0,CA,US,UNITED STATES,residence,matched (3),False,Lorena Dordan,Lorena Dordan,California,11.0,https://www.linkedin.com/in/lorena-dordan-a604...,NaN,NaN
7,7,13,13261848,Joshua (Josh),Noel,Hogan,1.0,CA,US,UNITED STATES,residence,matched (3),False,Joshua (Josh) Noel Hogan,Joshua (Josh) Hogan,California,NaN,NaN,NaN,NaN
8,8,15,13356632,Kai,NaN,Tao,1.0,NaN,CN,CHINA,residence,matched (3),False,Kai Tao,Kai Tao,NaN,NaN,NaN,NaN,NaN
9,9,16,13391446,Eckhard,NaN,Lohde,2.0,NaN,DE,GERMANY,residence,matched (3),False,Eckhard Lohde,Eckhard Lohde,NaN,16.0,https://www.linkedin.com/in/eckhard-l%C3%B6hde...,NaN,NaN
10,10,17,13391446,Olaf,NaN,Christiansen,1.0,NaN,DE,GERMANY,postal,matched (3),False,Olaf Christiansen,Olaf Christiansen,NaN,17.0,https://www.linkedin.com/in/olaf-christiansen-...,NaN,NaN
11,11,19,13426684,David,NaN,Hirshberg,1.0,NaN,IL,ISRAEL,residence,matched (3),False,David Hirshberg,David Hirshberg,NaN,NaN,NaN,NaN,NaN
12,12,21,13438140,MARK,MACDONOUGH,ROBINSON,1.0,MA,US,UNITED STATES,residence,matched (3),False,MARK MACDONOUGH ROBINSON,MARK ROBINSON,Massachusetts,NaN,NaN,NaN,NaN
13,13,23,13442888,Chaloke,NaN,Pungtrakul,1.0,NaN,TH,THAILAND,residence,matched (3),False,Chaloke Pungtrakul,Chaloke Pungtrakul,NaN,NaN,NaN,NaN,NaN
14,14,25,13465206,STEVEN,B.,TRACY,1.0,ME,US,UNITED STATES,postal,matched (3),False,STEVEN B. TRACY,STEVEN TRACY,Maine,NaN,NaN,NaN,NaN
15,15,27,13465375,Liu,NaN,Yang,1.0,CA,US,UNITED STATES,postal,matched (3),False,Liu Yang,Liu Yang,California,27.0,https://www.linkedin.com/in/liu-yang-ph-d-0452...,NaN,NaN
16,16,29,13465375,Fang,NaN,Sheng,2.0,CA,US,UNITED STATES,residence,matched (3),False,Fang Sheng,Fang Sheng,California,NaN,NaN,NaN,NaN
17,17,30,13467009,David,J.,Mishelevich,1.0,CA,US,UNITED STATES,postal,matched (3),False,David J. Mishelevich,David Mishelevich,California,NaN,NaN,NaN,NaN
18,18,32,13474326,Norman,Scott,Peckenpaugh,1.0,WA,US,UNITED STATES,postal,matched (3),False,Norman Scott Peckenpaugh,Norman Peckenpaugh,Washington,NaN,NaN,NaN,NaN
19,19,34,13475985,David,J.,Mishelevich,1.0,CA,US,UNITED STATES,residence,matched (3),True,David J. Mishelevich,David Mishelevich,California,NaN,NaN,NaN,NaN
20,20,36,13481539,Laszlo,NaN,Redey,1.0,IL,US,UNITED STATES,postal,matched (3),False,Laszlo Redey,Laszlo Redey,Illinois,NaN,NaN,NaN,NaN
21,21,38,13482342,Michael,Robert,White,1.0,CA,US,UNITED STATES,postal,matched (3),False,Michael Robert White,Michael White,California,NaN,NaN,NaN,NaN
22,22,40,13484165,Sergey,NaN,Anikin,1.0,CA,US,NaN,postal,matched (3),False,Sergey Anikin,Sergey Anikin,California,NaN,NaN,NaN,NaN
23,23,42,13486438,Benjamin,NaN,Pouladian,2.0,CA,US,UNITED STATES,residence,matched (3),False,Benjamin Pouladian,Benjamin Pouladian,California,42.0,https://www.linkedin.com/in/benpouladian/,NaN,NaN
24,24,43,13486438,Saman,NaN,Sinai,1.0,CA,US,UNITED STATES,residence,matched (3),False,Saman Sinai,Saman Sinai,California,43.0,https://www.linkedin.com/in/sam-jr-sinai-6970b...,NaN,NaN
25,25,45,13487252,Yong-Kyu,NaN,Jung,1.0,TX,US,UNITED STATES,residence,matched (3),False,Yong-Kyu Jung,Yong-Kyu Jung,Texas,45.0,https://www.linkedin.com/in/yong-kyu-jung-5794...,NaN,NaN
26,26,47,13490478,Gabriel,NaN,YAVOR,1.0,NaN,IL,ISRAEL,residence,matched (3),False,Gabriel YAVOR,Gabriel YAVOR,NaN,47.0,https://www.linkedin.com/in/gabriel-yavor-5b4603/,NaN,NaN
27,27,49,13494995,Shih-Lin,NaN,Chang,3.0,NaN,TW,TAIWAN,residence,matched (3),False,Shih-Lin Chang,Shih-Lin Chang,NaN,NaN,NaN,NaN,NaN
28,28,50,13494995,Bin-Juine,NaN,Huang,1.0,NaN,TW,TAIWAN,residence,matched (3),False,Bin-Juine Huang,Bin-Juine Huang,NaN,50.0,https://www.linkedin.com/in/jinfhuang/,NaN,NaN
29,29,52,13494995,Jong-Fu,NaN,Yeh,2.0,NaN,TW,TAIWAN,residence,matched (3),False,Jong-Fu Yeh,Jong-Fu Yeh,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925,1925,3545,14523946,Xiwang,NaN,Qi,1.0,AZ,US,UNITED STATES,residence,matched (3),False,Xiwang Qi,Xiwang Qi,Arizona,NaN,NaN,NaN,NaN
1926,1926,3546,14523946,Mei,NaN,Jiang,2.0,AZ,US,UNITED STATES,residence,matched (3),False,Mei Jiang,Mei Jiang,Arizona,NaN,NaN,NaN,NaN
1927,1927,3549,14533137,Yu-Cheng,NaN,Huang,1.0,NaN,TW,TAIWAN,residence,matched (3),False,Yu-Cheng Huang,Yu-Cheng Huang,NaN,3549.0,https://www.linkedin.com/in/yu-cheng-huang-469...,NaN,NaN
1928,1928,3551,14537987,Gioulchen,NaN,Tairova,1.0,ON,CA,CANADA,postal,matched (3),False,Gioulchen Tairova,Gioulchen Tairova,NaN,NaN,NaN,NaN,NaN
1929,1929,3552,14537987,Junian,NaN,Ioffe,2.0,NaN,CA,CANADA,residence,matched (3),False,Junian Ioffe,Junian Ioffe,NaN,3552.0,https://www.linkedin.com/in/junianioffe/,NaN,NaN
1930,1930,3554,14550910,George,NaN,Pul,1.0,NV,US,NaN,postal,matched (3),False,George Pul,George Pul,Nevada,NaN,NaN,NaN,NaN
1931,1931,3556,14555666,Rejean,NaN,Plante,1.0,NaN,CA,CANADA,residence,matched (3),False,Rejean Plante,Rejean Plante,NaN,NaN,NaN,NaN,NaN
1932,1932,3558,14555666,Louise,NaN,CUSSON,2.0,NaN,CA,CANADA,residence,matched (3),False,Louise CUSSON,Louise CUSSON,NaN,NaN,NaN,NaN,NaN
1933,1933,3559,14559908,Craig,NaN,Brodersen,1.0,OR,US,NaN,postal,matched (3),False,Craig Brodersen,Craig Brodersen,Oregon,3559.0,https://www.linkedin.com/in/craig-brodersen-52...,NaN,NaN
1934,1934,3561,14572956,Robert,NaN,Creighton,2.0,PA,US,UNITED STATES,residence,matched (3),False,Robert Creighton,Robert Creighton,Pennsylvania,NaN,NaN,NaN,NaN
1935,1935,3562,14572956,Arup,NaN,SenGupta,1.0,PA,US,UNITED STATES,residence,matched (3),False,Arup SenGupta,Arup SenGupta,Pennsylvania,NaN,NaN,NaN,NaN
1936,1936,3563,14572956,Ryan,NaN,Smith,3.0,PA,US,UNITED STATES,residence,matched (3),True,Ryan Smith,Ryan Smith,Pennsylvania,NaN,NaN,NaN,NaN
1937,1937,3565,14658217,Sergey,Petrovich,Tsyukalo,1.0,WA,US,NaN,postal,matched (3),False,Sergey Petrovich Tsyukalo,Sergey Tsyukalo,Washington,3565.0,https://www.linkedin.com/in/sergey-tsyukalo-38...,NaN,NaN
1938,1938,3567,13869501,David,John,Carr,NaN,CT,US,UNITED STATES,NaN,using only (2),False,David John Carr,David Carr,Connecticut,NaN,NaN,NaN,NaN
1939,1939,3568,13915214,Christos,NaN,Tsironis,NaN,CA,US,UNITED STATES,NaN,using only (2),True,Christos Tsironis,Christos Tsironis,California,3568.0,https://www.linkedin.com/in/christos-tsironis-...,NaN,NaN
1940,1940,3569,13998996,Charles,F.,Stewart,NaN,CA,US,UNITED STATES,NaN,using only (2),False,Charles F. Stewart,Charles Stewart,California,3569.0,https://www.linkedin.com/in/dr-charles-stewart...,NaN,NaN
1941,1941,3570,14082148,Richard,Martin,Greene,NaN,CA,US,UNITED STATES,NaN,using only (2),False,Richard Martin Greene,Richard Greene,California,NaN,NaN,NaN,NaN
1942,1942,3571,14083988,Christopher,Ralph,Tridico,NaN,BC,US,UNITED STATES,NaN,using only (2),False,Christopher Ralph Tridico,Christopher Tridico,NaN,3571.0,https://www.linkedin.com/in/christopher-tridic...,NaN,NaN
1943,1943,3572,14098711,Wei,NaN,Song,NaN,NaN,NaN,NaN,NaN,NaN,False,Wei Song,Wei Song,NaN,3572.0,https://www.linkedin.com/in/weisong44/,NaN,NaN
1944,1944,3573,14098711,Xiao Wei,NaN,Yu,NaN,NaN,NaN,NaN,NaN,NaN,False,Xiao Wei Yu,Xiao Wei Yu,NaN,NaN,NaN,NaN,NaN
1945,1945,3574,14098711,Weiping,NaN,Ren,NaN,NaN,NaN,NaN,NaN,using only (2),False,Weiping Ren,Weiping Ren,NaN,NaN,NaN,NaN,NaN
1946,1946,3575,14201795,David,NaN,Galomb,NaN,PA,US,UNITED STATES,NaN,using only (2),False,David Galomb,David Galomb,Pennsylvania,NaN,NaN,NaN,NaN
1947,1947,3576,14214687,William,S.,Baron,NaN,NaN,NaN,NaN,NaN,using only (2),False,William S. Baron,William Baron,NaN,NaN,NaN,NaN,NaN
1948,1948,3577,14214687,Sandra,F.,Baron,NaN,NaN,NaN,NaN,NaN,NaN,False,Sandra F. Baron,Sandra Baron,NaN,3577.0,https://www.linkedin.com/in/baronsandra/,NaN,NaN
1949,1949,3578,14250378,Matthew,Carl,O'Malley,NaN,NaN,NaN,NaN,NaN,using only (2),False,Matthew Carl O'Malley,Matthew O'Malley,NaN,NaN,NaN,NaN,NaN
1950,1950,3579,14257778,Nabyl,NaN,Bennouri,NaN,NaN,NaN,NaN,NaN,NaN,False,Nabyl Bennouri,Nabyl Bennouri,NaN,NaN,NaN,NaN,NaN
1951,1951,3580,14257778,Jie,NaN,Lian,NaN,NaN,NaN,NaN,NaN,NaN,False,Jie Lian,Jie Lian,NaN,NaN,NaN,NaN,NaN
1952,1952,3581,14257778,Nattapon,NaN,Chaimanoart,NaN,NaN,NaN,NaN,NaN,using only (2),False,Nattapon Chaimanoart,Nattapon Chaimanoart,NaN,NaN,NaN,NaN,NaN
1953,1953,3582,14280605,Oliver,Markus,Haynold,NaN,NaN,NaN,NaN,NaN,using only (2),False,Oliver Markus Haynold,Oliver Haynold,NaN,3582.0,https://www.linkedin.com/in/olivermhaynold/,NaN,NaN
1954,1954,3583,14451811,Randall,C.,Wilson,NaN,NaN,NaN,NaN,NaN,using only (2),False,Randall C. Wilson,Randall Wilson,NaN,3583.0,https://www.linkedin.com/in/randall-wilson-475...,NaN,NaN

In [93]:
final_copy = pd.read_csv('final copy.csv', sep = ',')

# replace NaN with empty strings
final_copy = final_copy.replace(np.nan, '', regex = True)

,Unnamed: 0,Unnamed: 0.1,appl_id,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_region_code,inventor_country_code,inventor_country_name,inventor_address_type,_merge,duplicates,full_name,first_last_name,state,Unnamed: 0.2,linkedinProfile,Unnamed: 18,Unnamed: 19
0,0,0,13199870,Durand,Kevin,Dickerson,1,KS,US,UNITED STATES,residence,matched (3),False,Durand Kevin Dickerson,Durand Dickerson,Kansas,0,https://www.linkedin.com/in/durand-dickerson-b...,,
1,1,2,13199870,Lawrence,Derwood,Kenemore,2,KS,US,UNITED STATES,residence,matched (3),False,Lawrence Derwood Kenemore,Lawrence Kenemore,Kansas,2,https://www.linkedin.com/in/larry-kenemore-jr-...,,
2,2,3,13261475,Stefanos,,Ntoukolianos,1,,GR,GREECE,postal,matched (3),False,Stefanos Ntoukolianos,Stefanos Ntoukolianos,,3,,,
3,3,5,13261723,Mukul,Chandra,Gope,1,,IN,INDIA,postal,matched (3),False,Mukul Chandra Gope,Mukul Gope,,5,,,
4,4,7,13261789,Mitsutoshi,,Sugawara,1,,JP,JAPAN,postal,matched (3),False,Mitsutoshi Sugawara,Mitsutoshi Sugawara,,7,https://www.linkedin.com/in/mitsutoshi-sugawar...,,
5,5,9,13261809,Georgios,,Mavroeidis,1,,GR,GREECE,residence,matched (3),False,Georgios Mavroeidis,Georgios Mavroeidis,,9,,,
6,6,11,13261831,Lorena,,Dordan,1,CA,US,UNITED STATES,residence,matched (3),False,Lorena Dordan,Lorena Dordan,California,11,https://www.linkedin.com/in/lorena-dordan-a604...,,
7,7,13,13261848,Joshua (Josh),Noel,Hogan,1,CA,US,UNITED STATES,residence,matched (3),False,Joshua (Josh) Noel Hogan,Joshua (Josh) Hogan,California,13,,,
8,8,15,13356632,Kai,,Tao,1,,CN,CHINA,residence,matched (3),False,Kai Tao,Kai Tao,,15,,,
9,9,16,13391446,Eckhard,,Lohde,2,,DE,GERMANY,residence,matched (3),False,Eckhard Lohde,Eckhard Lohde,,16,https://www.linkedin.com/in/eckhard-l%C3%B6hde...,,
10,10,17,13391446,Olaf,,Christiansen,1,,DE,GERMANY,postal,matched (3),False,Olaf Christiansen,Olaf Christiansen,,17,https://www.linkedin.com/in/olaf-christiansen-...,,
11,11,19,13426684,David,,Hirshberg,1,,IL,ISRAEL,residence,matched (3),False,David Hirshberg,David Hirshberg,,19,,,
12,12,21,13438140,MARK,MACDONOUGH,ROBINSON,1,MA,US,UNITED STATES,residence,matched (3),False,MARK MACDONOUGH ROBINSON,MARK ROBINSON,Massachusetts,21,,,
13,13,23,13442888,Chaloke,,Pungtrakul,1,,TH,THAILAND,residence,matched (3),False,Chaloke Pungtrakul,Chaloke Pungtrakul,,23,,,
14,14,25,13465206,STEVEN,B.,TRACY,1,ME,US,UNITED STATES,postal,matched (3),False,STEVEN B. TRACY,STEVEN TRACY,Maine,25,,,
15,15,27,13465375,Liu,,Yang,1,CA,US,UNITED STATES,postal,matched (3),False,Liu Yang,Liu Yang,California,27,https://www.linkedin.com/in/liu-yang-ph-d-0452...,,
16,16,29,13465375,Fang,,Sheng,2,CA,US,UNITED STATES,residence,matched (3),False,Fang Sheng,Fang Sheng,California,29,,,
17,17,30,13467009,David,J.,Mishelevich,1,CA,US,UNITED STATES,postal,matched (3),False,David J. Mishelevich,David Mishelevich,California,30,,,
18,18,32,13474326,Norman,Scott,Peckenpaugh,1,WA,US,UNITED STATES,postal,matched (3),False,Norman Scott Peckenpaugh,Norman Peckenpaugh,Washington,32,,,
19,19,34,13475985,David,J.,Mishelevich,1,CA,US,UNITED STATES,residence,matched (3),True,David J. Mishelevich,David Mishelevich,California,34,,,
20,20,36,13481539,Laszlo,,Redey,1,IL,US,UNITED STATES,postal,matched (3),False,Laszlo Redey,Laszlo Redey,Illinois,36,,,
21,21,38,13482342,Michael,Robert,White,1,CA,US,UNITED STATES,postal,matched (3),False,Michael Robert White,Michael White,California,38,,,
22,22,40,13484165,Sergey,,Anikin,1,CA,US,,postal,matched (3),False,Sergey Anikin,Sergey Anikin,California,40,,,
23,23,42,13486438,Benjamin,,Pouladian,2,CA,US,UNITED STATES,residence,matched (3),False,Benjamin Pouladian,Benjamin Pouladian,California,42,https://www.linkedin.com/in/benpouladian/,,
24,24,43,13486438,Saman,,Sinai,1,CA,US,UNITED STATES,residence,matched (3),False,Saman Sinai,Saman Sinai,California,43,https://www.linkedin.com/in/sam-jr-sinai-6970b...,,
25,25,45,13487252,Yong-Kyu,,Jung,1,TX,US,UNITED STATES,residence,matched (3),False,Yong-Kyu Jung,Yong-Kyu Jung,Texas,45,https://www.linkedin.com/in/yong-kyu-jung-5794...,,
26,26,47,13490478,Gabriel,,YAVOR,1,,IL,ISRAEL,residence,matched (3),False,Gabriel YAVOR,Gabriel YAVOR,,47,https://www.linkedin.com/in/gabriel-yavor-5b4603/,,
27,27,49,13494995,Shih-Lin,,Chang,3,,TW,TAIWAN,residence,matched (3),False,Shih-Lin Chang,Shih-Lin Chang,,49,,,
28,28,50,13494995,Bin-Juine,,Huang,1,,TW,TAIWAN,residence,matched (3),False,Bin-Juine Huang,Bin-Juine Huang,,50,https://www.linkedin.com/in/jinfhuang/,,
29,29,52,13494995,Jong-Fu,,Yeh,2,,TW,TAIWAN,residence,matched (3),False,Jong-Fu Yeh,Jong-Fu Yeh,,52,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925,1925,3545,14523946,Xiwang,,Qi,1,AZ,US,UNITED STATES,residence,matched (3),False,Xiwang Qi,Xiwang Qi,Arizona,3545,,,
1926,1926,3546,14523946,Mei,,Jiang,2,AZ,US,UNITED STATES,residence,matched (3),False,Mei Jiang,Mei Jiang,Arizona,3546,,,
1927,1927,3549,14533137,Yu-Cheng,,Huang,1,,TW,TAIWAN,residence,matched (3),False,Yu-Cheng Huang,Yu-Cheng Huang,,3549,https://www.linkedin.com/in/yu-cheng-huang-469...,,
1928,1928,3551,14537987,Gioulchen,,Tairova,1,ON,CA,CANADA,postal,matched (3),False,Gioulchen Tairova,Gioulchen Tairova,,3551,,,
1929,1929,3552,14537987,Junian,,Ioffe,2,,CA,CANADA,residence,matched (3),False,Junian Ioffe,Junian Ioffe,,3552,https://www.linkedin.com/in/junianioffe/,,
1930,1930,3554,14550910,George,,Pul,1,NV,US,,postal,matched (3),False,George Pul,George Pul,Nevada,3554,,,
1931,1931,3556,14555666,Rejean,,Plante,1,,CA,CANADA,residence,matched (3),False,Rejean Plante,Rejean Plante,,3556,,,
1932,1932,3558,14555666,Louise,,CUSSON,2,,CA,CANADA,residence,matched (3),False,Louise CUSSON,Louise CUSSON,,3558,,,
1933,1933,3559,14559908,Craig,,Brodersen,1,OR,US,,postal,matched (3),False,Craig Brodersen,Craig Brodersen,Oregon,3559,https://www.linkedin.com/in/craig-brodersen-52...,,
1934,1934,3561,14572956,Robert,,Creighton,2,PA,US,UNITED STATES,residence,matched (3),False,Robert Creighton,Robert Creighton,Pennsylvania,3561,,,
1935,1935,3562,14572956,Arup,,SenGupta,1,PA,US,UNITED STATES,residence,matched (3),False,Arup SenGupta,Arup SenGupta,Pennsylvania,3562,,,
1936,1936,3563,14572956,Ryan,,Smith,3,PA,US,UNITED STATES,residence,matched (3),True,Ryan Smith,Ryan Smith,Pennsylvania,3563,,,
1937,1937,3565,14658217,Sergey,Petrovich,Tsyukalo,1,WA,US,,postal,matched (3),False,Sergey Petrovich Tsyukalo,Sergey Tsyukalo,Washington,3565,https://www.linkedin.com/in/sergey-tsyukalo-38...,,
1938,1938,3567,13869501,David,John,Carr,,CT,US,UNITED STATES,,using only (2),False,David John Carr,David Carr,Connecticut,3567,,,
1939,1939,3568,13915214,Christos,,Tsironis,,CA,US,UNITED STATES,,using only (2),True,Christos Tsironis,Christos Tsironis,California,3568,https://www.linkedin.com/in/christos-tsironis-...,,
1940,1940,3569,13998996,Charles,F.,Stewart,,CA,US,UNITED STATES,,using only (2),False,Charles F. Stewart,Charles Stewart,California,3569,https://www.linkedin.com/in/dr-charles-stewart...,,
1941,1941,3570,14082148,Richard,Martin,Greene,,CA,US,UNITED STATES,,using only (2),False,Richard Martin Greene,Richard Greene,California,3570,,,
1942,1942,3571,14083988,Christopher,Ralph,Tridico,,BC,US,UNITED STATES,,using only (2),False,Christopher Ralph Tridico,Christopher Tridico,,3571,https://www.linkedin.com/in/christopher-tridic...,,
1943,1943,3572,14098711,Wei,,Song,,,,,,,False,Wei Song,Wei Song,,3572,https://www.linkedin.com/in/weisong44/,,
1944,1944,3573,14098711,Xiao Wei,,Yu,,,,,,,False,Xiao Wei Yu,Xiao Wei Yu,,3573,,,
1945,1945,3574,14098711,Weiping,,Ren,,,,,,using only (2),False,Weiping Ren,Weiping Ren,,3574,,,
1946,1946,3575,14201795,David,,Galomb,,PA,US,UNITED STATES,,using only (2),False,David Galomb,David Galomb,Pennsylvania,3575,,,
1947,1947,3576,14214687,William,S.,Baron,,,,,,using only (2),False,William S. Baron,William Baron,,3576,,,
1948,1948,3577,14214687,Sandra,F.,Baron,,,,,,,False,Sandra F. Baron,Sandra Baron,,3577,https://www.linkedin.com/in/baronsandra/,,
1949,1949,3578,14250378,Matthew,Carl,O'Malley,,,,,,using only (2),False,Matthew Carl O'Malley,Matthew O'Malley,,3578,,,
1950,1950,3579,14257778,Nabyl,,Bennouri,,,,,,,False,Nabyl Bennouri,Nabyl Bennouri,,3579,,,
1951,1951,3580,14257778,Jie,,Lian,,,,,,,False,Jie Lian,Jie Lian,,3580,,,
1952,1952,3581,14257778,Nattapon,,Chaimanoart,,,,,,using only (2),False,Nattapon Chaimanoart,Nattapon Chaimanoart,,3581,,,
1953,1953,3582,14280605,Oliver,Markus,Haynold,,,,,,using only (2),False,Oliver Markus Haynold,Oliver Haynold,,3582,https://www.linkedin.com/in/olivermhaynold/,,
1954,1954,3583,14451811,Randall,C.,Wilson,,,,,,using only (2),False,Randall C. Wilson,Randall Wilson,,3583,https://www.linkedin.com/in/randall-wilson-475...,,

In [94]:
len(final_copy[final_copy['linkedinProfile'] != ''])

624